.container {
  padding-top: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-style: italic;
}

li {
  padding: 5px;
  margin: 5px;
  flex-wrap: wrap;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

ul {
  flex-wrap: wrap;
}

.row {
  padding-top: 20px;
}

/* .list1 {
  float: left;
}

.list2 {
  float: right;
}

.list1 li {
  width: 25%;
  background: rgb(146, 206, 255);
}

.list2 li {
  width: 25%;
  background: rgb(163, 245, 170);
} */